* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

input[type="button"] {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

li {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.root {
  background-image: url(./background-images/Group419.svg);

  background-size: 100%;
}
.main-body {
  height: 3662px;
}
*{
  margin: 0px;
  padding: 0px;
}

.main-logo{
  display: block;
  width: 130px;
  height: 41.2px;
  margin-left:2px;
}
.logos-company{
  position: absolute;
  top: 84px;
  display: inline;
}



@media (min-width:320) and (min-width:370){
  .section1-text{
      width: 270px;
      height: 63px;
      font-family: HelveticaNeue;
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #eeffff;
  }

  .rectangle-box{
      width: 241px;
      height: 410px;
      border-radius: 15px;
      -webkit-backdrop-filter: blur(33.5px);
      backdrop-filter: blur(33.5px);
      box-shadow: 2px 2px 75px 0 #1f1f1f;
      border: solid 2px #ffffff;
      background-color: #ffffff;
  }

  .heading-para{
      width: 283px;
      height: 138px;
      font-family: HelveticaNeue;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 0.08px;
      text-align: center;
      color: #b5acd3;
    }
  
}
